body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "nav" "content" "sidebar" "ad" "footer";
}

.header {
    grid-area: header;
    background-color: #649d66;
    border-radius: 0 60px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    color: #444;
}

.main-nav {
    grid-area: nav;
    background-color: #649d66;
}


/* style main nav */

.main-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    list-style: none;
    color: #444;
}


/* style main nav links */

.main-nav li a {
    border: none;
    background-color: inherit;
    color: #444;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
}


/* make link white when cursor hovers */

.main-nav a:hover {
    color: white;
}