@import "./main-nav.css";
@import "./avatar.css";
@import "./events.css";
body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "nav" "content" "sidebar" "ad" "footer";
}

.header {
    grid-area: header;
    background-color: #649d66;
    border-radius: 0 60px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    color: #444;
}


/* style blog card container */

.content {
    display: grid;
    grid-area: content;
    justify-content: center;
    margin: auto;
    grid-gap: 15px;
}


/* style each blog card */

.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 380px;
    background: #fcf9f9;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #7cbd1e;
    box-shadow: 0px 10px 10px grey;
}


/* set size and border for card img */

img {
    width: 100%;
    border-radius: 5px;
}

figcaption {
    background-color: #444;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


/* style topic text on blog card */

.card-topic {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


/* style descriptive text on blog card */

p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    color: #666;
    line-height: 16px;
}


/* style btn on blog card */

.btn-one,
.btn-two,
.btn-three {
    background-color: #06623b;
    color: white;
    width: 90px;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: 12px;
    cursor: pointer;
}


/* aside section on left of main page */

.aside-left {
    grid-area: sidebar;
    border: 2px solid #7cbd1e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 10px 10px grey;
    font-size: 3em;
    background-color: #FFF;
}


/* aside section on right of main page */

.advertising {
    grid-area: ad;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #7cbd1e;
    border-radius: 5px;
    box-shadow: 0px 10px 10px grey;
}

.advertising div {
    border-bottom: 2px solid #f6d743;
    border-top: 2px solid #f6d743;
    padding: 10px;
    margin: 10px;
}

.top-ad {
    background-color: #FFF;
}

.mid-ad {
    background-color: #FFF;
}

.lower-mid {
    background-color: #FFF;
}

.bottom-ad {
    background-color: #FFF;
}


/* main page footer */

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background-color: #f6d743;
    margin-top: 20px;
}


/* author copyright */

.copyright {
    color: #444;
    padding-right: 30px;
    padding-top: 50px;
}


/* style form - display items horizontally */

#newsletter {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}


/* margins for each label */

#newsletter label {
    margin: 5px 10px 5px 0;
    color: #444;
}


/* style input fields */

#newsletter input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}


/* style submit button */

#newsletter button {
    padding: 10px 15px;
    margin: 20px;
    background-color: #06623b;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


/* css for the blogpost page */

.post-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "topic" "author" "article" "footer";
}

.avatar {
    display: inline-flex;
}

.avatar p {
    padding: 30px 0 0 20px;
}

.topic {
    grid-area: topic;
    min-height: 200px;
    background-image: url("../assets/img/wildflowers.jpg");
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
    border-radius: 5px;
    font-size: 3em;
}

.topic p {
    visibility: hidden;
}

.author-info {
    grid-area: author;
    border: 2px solid #444;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    line-height: 1.4em;
}

.author-info p {
    text-align: left;
}

hr {
    border: 2px solid #06623b;
}

.current-post {
    grid-area: article;
    text-align: justify;
    font-size: 1em;
    line-height: 1.1em;
}

.current-post h3 {
    font-size: 2em;
    text-align: center;
}

.subsection img {
    width: 50%;
    max-height: 10%;
}

blockquote {
    font-size: 2em;
    text-align: center;
}

.posts-footer {
    grid-area: footer;
}

.links {
    display: grid;
    background-color: #FFF;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: "posts posts posts" ". social-mid ." ". subscribe .";
}

.posts {
    grid-area: posts;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.links a {
    text-decoration: none;
    color: #444;
    font-size: 1em;
}

.posts a:hover {
    border-bottom: 2px solid #06623b;
}

.social-icons {
    grid-area: social-mid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa {
    color: #444;
}

.fa:hover {
    color: #06623b;
}

.subscribe {
    grid-area: subscribe;
    cursor: pointer;
    justify-self: center;
    padding: 10px 10px;
    border: 1px solid #06623b;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: block;
}

.subscribe a {
    text-decoration: none;
    color: #444;
}

.subscribe:hover {
    background-color: #f6d743;
}


/* css for the info page */

.info-wrapper {
    height: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "nav" "content" "sidebar";
}

#contact {
    display: grid;
    grid-area: sidebar;
    justify-content: center;
    border: 3px solid #06623b;
    padding: 20px;
    border-radius: 60px 0 60px 0;
    font-size: 16px;
    line-height: 20px;
}

*/ @media (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "header header" "nav nav" "content content" "sidebar sidebar";
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 15px;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "header header header" "nav nav nav" "content content content" "sidebar sidebar sidebar"
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 30px;
    }
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "header header" "nav nav" "sidebar content" "ad ad" "footer footer";
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 15px;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    .wrapper {
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-areas: "header header header" "nav nav nav" "sidebar content ad" "footer footer footer"
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 30px;
    }
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
}


/* display the form controls vertically instead of horizontally on screens that are less than 800px wide */

@media (max-width: 700px) {
    #newsletter input {
        margin: 10px 0px;
    }
    #newsletter {
        flex-direction: column;
        align-items: stretch;
    }
}