.wrapper {
    height: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "nav" "content" "sidebar";
}

.header {
    grid-area: header;
    background-color: #649d66;
    border-radius: 0 60px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #444;
}

.main-nav {
    grid-area: nav;
    background-color: #649d66;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-family: Arial;
    color: #444;
}

.main-nav li a {
    border: none;
    background-color: inherit;
    color: #444;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
}

.main-nav a:hover {
    color: white;
}

#events {
    display: grid;
    grid-area: content;
    justify-content: center;
    border: 4px solid #f6d743;
    padding: 20px;
    border-radius: 0 60px 0 60px;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}

#contact {
    display: grid;
    grid-area: sidebar;
    justify-content: center;
    border: 3px solid #06623b;
    padding: 20px;
    border-radius: 60px 0 60px 0;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
}

@media (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "header header" "nav nav" "content content" "sidebar sidebar";
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 15px;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "header header header" "nav nav nav" "content content content" "sidebar sidebar sidebar"
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 30px;
    }
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
}