.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "topic" "author" "article" "footer";
}

.header {
    grid-area: header;
    background-color: #649d66;
    border-radius: 0 60px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #444;
}

.topic {
    grid-area: topic;
    background-image: url("../img/wildflowers.jpg");
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
    border-radius: 5px;
    font-size: 3em;
}

.topic p {
    visibility: hidden;
}

.author-info {
    grid-area: author;
    border: 2px solid black;
}

hr {
    border: 2px solid #06623b;
}

.current-post {
    grid-area: article;
    text-align: justify;
    font-family: 'Arial';
    font-size: 1em;
}

.current-post h3 {
    font-family: 'Arial';
    font-size: 2em;
    text-align: center;
}

.subsection img {
    width: 50%;
    max-height: 10%;
}

blockquote {
    font-family: 'Arial';
    font-size: 2em;
    text-align: center;
}

.footer {
    grid-area: footer;
}

.links {
    display: grid;
    background-color: #FFF;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: "posts posts posts" ". social-mid ." ". subscribe .";
}

.posts {
    grid-area: posts;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.links a {
    text-decoration: none;
    color: #444;
    font-family: Arial;
    font-size: 1em;
}

.posts a:hover {
    border-bottom: 2px solid #06623b;
}

.social-icons {
    grid-area: social-mid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa {
    color: #444;
}

.fa:hover {
    color: #06623b;
}

.subscribe {
    grid-area: subscribe;
    cursor: pointer;
    justify-self: center;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 0 60px 0 60px;
    font-family: Arial;
    text-align: center;
    display: block;
}

.subscribe a {
    text-decoration: none;
    color: #444;
}

.subscribe:hover {
    background-color: #649d66;
}