.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "topic" "author" "article" "footer";
}

.header {
    grid-area: header;
    background-color: #649d66;
    border-radius: 0 60px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #444;
}

.topic {
    grid-area: topic;
    background-image: url("../img/wildflowers.jpg");
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
    border-radius: 5px;
    font-size: 3em;
}

.topic p {
    visibility: hidden;
}

.author-info {
    grid-area: author;
    border: 2px solid black;
}

hr {
    border: 2px solid #06623b;
}

.current-post {
    grid-area: article;
    text-align: justify;
    font-family: 'Arial';
    font-size: 1em;
}

.current-post h3 {
    font-family: 'Arial';
    font-size: 2em;
    text-align: center;
}

.subsection img {
    width: 50%;
    max-height: 10%;
}

blockquote {
    font-family: 'Arial';
    font-size: 2em;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #649d66;
}

.social {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: "older home newer" "social-lt social-mid social-rt" ". subscribe .";
}


/*what is this?*/

.other-posts {
    background-color: #f6d743;
}

.btn {
    border: none;
    background-color: white;
    color: #444;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #f6d743;
}

.subscribe {
    grid-area: subscribe;
    padding: 12px 25px 7px 25px;
    background-color: #649d66;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    justify-self: center;
    max-height: 30%;
    font-size: 16px;
    font-family: Arial;
    text-align: center;
    justify-content: center;
}