.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: "header" "nav" "content" "sidebar" "ad" "footer";
}

.header {
    grid-area: header;
    background-color: #7cbd1e;
    border-radius: 0 60px 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #444;
}

.main-nav {
    grid-area: nav;
}

li {
    display: inline;
    font-family: 'Arial';
    font-size: 1rem;
}

.content {
    display: grid;
    grid-area: content;
    justify-content: center;
    margin: auto;
    grid-gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 380px;
    background: #fcf9f9;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #7cbd1e;
    box-shadow: 0px 10px 10px grey;
}

img {
    width: 100%;
    border-radius: 5px;
}

.topic {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial';
    font-size: 20px;
}

p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #C8C8C8;
    line-height: 16px;
}

.button {
    background-color: #bceb3c;
    color: white;
    width: 90px;
    padding: 10px 10px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    font-size: 12px;
    cursor: pointer;
}

.aside-left {
    grid-area: sidebar;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid #7cbd1e;
    border-radius: 5px;
}


/*.aside-right {
    grid-area: ;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid #7cbd1e;
    border-radius: 5px;
}*/

.advertising {
    grid-area: ad;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid green;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background-color: #f1f864;
    margin-top: 20px;
}

fieldset {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
}

@media (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "header header" "nav nav" "sidebar content" "ad ad" "footer footer";
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 15px;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    .wrapper {
        grid-template-columns: 2fr 2fr 2fr;
        border: 3px solid orange;
        grid-template-areas: "header header header" "nav nav nav" "sidebar content ad" "footer footer footer"
    }
    nav {
        background-color: #7cbd1e;
        border-radius: 30px;
    }
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
}